@font-face{font-family:'Open Sans';font-weight:400;font-style:normal;font-display:swap;src:url('../../../catalog/view/theme/unishop2/fonts/opensans/opensans-regular.woff2') format('woff2'), url('../fonts/opensans/opensans-regular.woff') format('woff')}
@font-face{font-family:'Open Sans';font-weight:600;font-style:normal;font-display:swap;src:url('../../../catalog/view/theme/unishop2/fonts/opensans/opensans-medium.woff2') format('woff2'), url('../fonts/opensans/opensans-medium.woff') format('woff')}
@font-face{font-family:'Open Sans';font-weight:700;font-style:normal;font-display:swap;src:url('../../../catalog/view/theme/unishop2/fonts/opensans/opensans-bold.woff2') format('woff2'), url('../fonts/opensans/opensans-bold.woff') format('woff')}

.pull-right .btn i + span {margin:0 0 0 5px}
.pull-right .btn + .btn {margin:0 0 0 2px}

.breadcrumb {padding:0}
b, strong {font-weight:700}

.uni_set {display:flex;background:#fff;border:solid 1px #ddd;border-radius:3px}
.nav-tabs {margin:0 0 15px}
.tab-content-new .nav-tabs {margin:0 0 0;background:#f7f7f7}
.nav-tabs > li > a {padding:12px 15px !important;color:#057d99}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {color:#1e91cf !important}

.uni_set .dropdown-menu {overflow-y:auto;max-height:250px}

.tab-content-new > div > .nav-tabs {display:flex;flex-wrap:wrap}
.tab-content-new > div > .nav-tabs > li {margin:0;min-height:44px;border:none}
.tab-content-new > div > .nav-tabs > li > a {min-height:44px;margin:0;padding:12.0px 15px !important;border:none !important;border-bottom:solid 1px transparent !important}
.tab-content-new > div > .nav-tabs > li.active > a, .tab-content-new > div > .nav-tabs > li.active > a:hover{font-weight:400;color:#e66761 !important;background:#e8e8e8;border-radius:0}
.tab-content-new > div > .nav-tabs > li.active > a {position:relative}

.find-settings {margin:0 0 20px}
.find-settings__group {width:500px;max-width:100%}
.find-settings__input{height:32px !important}
.find-settings__btn{height:32px;line-height:10px;border:solid 1px #ccc;outline:none !important}
.find-settings__result {display:none;max-width:800px;max-height:300px;margin:10px 0 20px;padding:10px 10px 0;border:solid 1px #ccc;box-shadow:inset 0 0 10px rgba(0, 0, 0, .1);border-radius:4px;overflow-y:scroll}
.find-settings__result ul {margin:0}
.find-settings__result li {display:flex}
.find-settings__a {padding:0 0 10px 5px;font-size:.9em;font-weight:600;cursor:pointer}

.row-flex{display:flex;align-items:center;margin:0;padding:20px 0px}
.row-flex + .row-flex {border-top: solid 1px #e5e5e5}
.row-flex > div:first-child{padding:0 25px}

#module {width:100%}
#module .button {cursor:pointer}
#module .col-sm-2 {min-width:220px;width:260px;padding:0 25px;font-weight:600}
.col-sm-2 span {display:block;padding:10px 0 0;font-weight:400;font-size:12px;color:#888}
#module .col-sm-10 .nav {/* min-width:170px; */margin:0 0 15px;background:none}
#module .col-sm-10 .nav a, .form-group li a{padding:5px 12px !important;font-weight:400;text-decoration:none}
.container-fluid_new > .nav li.active a {background:#f5f5f5;color:#057d99}
.tab-content-new > .tab-pane > .nav li:first-child > a {border-left:none}

#module .form-control:not(textarea) {height:32px !important}

#module .tab-pane > .col-sm-12 {float:none;clear:both;padding:15px 25px;font-size:15px;font-weight:700;color:#e66761;background:#f8f8f8}

#tab-updates td, #tab-template td, #tab-blog td, #tab-request td {font-weight:400 !important;line-height:1.6em}

#module tr td b {display:block;font-size:1em;margin:0 0 4px}
#module tr td span {font-size:0.9em;color:#888}
#module a {text-decoration:underline;}
#module .dropdown-menu > li > a {text-decoration:none !important}
#module label {margin:0 10px 0 0;font-weight:400;cursor:pointer}
#module label input {margin:0 5px -3px 0;}
.content input[type='button'] {height:22px}
#thumb-image img {width:100px}
#copyright {clear:both;text-align:left;font-size:1.1em;border:solid 1px #ddd;background:#f4f4f4;margin:5px 0 10px; padding:7px 10px 10px}

#modal-icons-form .modal-lg {width:1200px;max-width:100%}
#modal-icons-form .modal-body{background:#f7f7f7}
#modal-icons-form .modal-body h4.remove-icon {margin:20px 5px 25px;font-size:1em !important;font-weight:600}
#modal-icons-form .modal-body h4.remove-icon i{margin:15px 0;padding:10px 15px;font-size:1.3em !important;font-style:normal !important;border:solid 1px rgba(0, 0, 0, .1)}
#modal-icons-form .modal-body .item2 {width:100%;clear:both;padding:15px 10px}
#modal-icons-form .modal-body .item2 h4 {font-size:2.5em;font-weight:600;color:#f00}
#modal-icons-form .item {float:left;width:10%;min-width:100px;padding:10px;text-align:center}
#modal-icons-form i{width:100%;padding:20px;font-size:2em !important;color:#444;cursor:pointer;background:#fff;border:solid 1px rgba(0, 0, 0, .07);border-radius:4px}
#modal-icons-form i:hover{color:#f00;box-shadow: 0 0 15px #ddd}
#modal-icons-form .title {height:25px;padding:5px 0;color:#888;font-size:.7em}
#modal-icons-form h4 .title{display:none}

.modal-icons-form__wrapper {display:flex;flex-wrap:wrap}
.modal-icons-form__wrapper i{}

#module span.open_icon {position:relative;z-index:2;float:left;color:#444 !important;cursor:pointer;width:90px;max-width:90px;height:32px;background:#eee;border:solid 1px #ccc !important;line-height:28px;padding:0 8px !important;border-radius:3px 0 0 3px !important}
#module span.open_icon:hover {background:#ddd}
#module span.open_icon i {vertical-align:middle;margin:0 4px;font-size:14px}
#module input[type='button'] {display:inline-block;text-align:center;font-weight:400 !important;cursor:pointer;min-width:85px;margin:6px 5px 0 0;border-radius:3px}
#module input[type='button']:hover {background:#ddd}

#module .btn {position:relative;height:28px;line-height:25px;padding:0 10px;outline:none;border:solid 1px rgba(0 0 0 / .2)}
#module .btn img {margin:0 0 0 3px;opacity:.8}
#module div + .btn {margin:15px 0 0}
#module .btn:hover:before{position:absolute;top:0;left:0;width:100%;height:100%;content:'';background:rgba(0, 0, 0, .1)}

.div_update {width:600px;background:#f5f5f5;box-shadow:0 0 20px rgba(0, 0, 0, .4);font-size:1.1em;color:#f00;font-weight:600;padding:20px;border-radius:10px}
.div_update ul {margin:5px 0 0;padding:0;list-style:none}
#module a.btn {text-decoration:none !important}

#module .input-group + label, #module .input-group + label + label{margin:10px 20px 10px 0 !important}
#module .input-group .input-group-addon {padding:4px 8px}
#module .input-group .input-group-addon + .form-control {width:200px;padding:4px 10px}
#module .form-control{flex:none;width:250px;padding:4px 10px;box-shadow:none}
#module span + .form-control, #module span + .form-control + .form-control, #module span + .form-control + .form-control + .form-control{width:200px}
#module textarea.form-control {width:100%;min-height:150px;margin:0 !important}
#module span + textarea.form-control {min-width:290px}

#module .input-group input + input, #module .input-group select {margin-left:-1px}

#module .form-control.text + .form-control.text {margin:5px 0 0;border-left:solid 1px #ccc}

#module .input-group + label:last-child {margin:10px 0}
#module select.form-control, #module input.form-control {height:30px}
#module select.form-control{padding-left:5px}
#module .input-group + .input-group {margin:10px 0 0}
#module .input-group input + span, #module .input-group select + span{display:inline-block;width:auto;vertical-align:middle;height:32px;line-height:28px;padding:0 10px;text-align:center;color:#888;cursor:pointer;background:#eee;border:solid 1px #ccc;border-left:none;border-radius:0 3px 3px 0}
#module .input-group span .fa {line-height:28px;font-size:11px}
#module .input-group span:hover {background:#ddd}

#module .uni-color.form-control {display:inline-block;vertical-align:middle;width:70px;margin-right:15px;text-align:center;border: 1px solid rgba(0, 0, 0, .15);cursor:pointer}

#module .header {position:relative;padding:10px 10px 10px 15px !important; color:#F6846A !important;background:#eee}
#module .header b {display:inline-block;margin:0 0 0 5px;font-weight:700}

.col-sm-10 label {margin:8px 0 10px}

#content label {display:flex;align-items:center}
#content label + label {margin:10px 0 0}
#content label input[type="checkbox"] {display:inline-block;position:relative;width:48px;height:18px;margin:0;line-height:20px;background:none;border:none;box-shadow:none;appearance:none;-moz-appearance:none;-webkit-appearance:none}
#content label input[type="checkbox"]:before {content:'';display:inline-block;/margin:0 10px 0 0;width:38px;height:18px;background:#ccc;border-radius:10px;cursor:pointer;transition:all ease-in-out .2s;cursor:pointer}
#content label input[type="checkbox"]:checked:before {background:#6ab344}
#content label input[type="checkbox"]:after {position:absolute;top:50%;left:3px;width:14px;height:14px;content:'';background:#fff;border-radius:100%;transform:translateY(-50%);transition:all ease-in-out .2s;cursor:pointer}
#content label input[type="checkbox"]:checked:after {left:21px}

#module texarea + .panel {margin:0}

.tab-content-new {flex-grow:1;margin:0 0 0 -1px;border-left:solid 1px #ddd;border-top:none;padding:0 0 20px;background:#fff}
.tab-content-new hr {margin:0}
.nav-stacked.nav-tabs {margin:0;padding-right:0;border:none !important}
	
#unishop .nav-pills {overflow:hidden;background:#eee}
.nav-pills > li {position:relative;min-height:44px;margin:0px !important}
.nav-pills > li:hover a{background:#f5f5f5}
.nav-pills > li a{min-height:44px;border:none !important;border-radius:0 !important;margin-right:1px;color:#057d99;font-weight:600}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {color:#fff !important;background:#057d99}
.nav-pills li.active {position:relative}
.nav-pills > li + li a:before{position:absolute;top:0;left:0;width:100%;content:'';border-top:solid 1px #ddd}
.nav-pills .new {padding:15px 0;font-weight:700}
.nav-pills .new span {color:#6ab344 !important}
.nav-pills .new:before{position:absolute;top:0;left:0;width:100%;content:'';border-top:solid 1px #ddd}
.nav-tabs > li a span {position:absolute;top:0;left:0;padding:0 3px;font-size:.7em;color:#fff;background:#6ab344}
.note-editor {background:#fff;margin:0}

li.license a, li.license:hover, li.license.active a, li.license.active:hover a{color:#6ab344 !important}

#unishop .nav-pills li:nth-child(4):before, 
#unishop .nav-pills li:nth-child(13):before, 
#unishop .nav-pills li:nth-child(16):before,
#unishop .nav-pills li:nth-child(18):before,
#unishop .nav-pills li:nth-child(20):before,
#unishop .nav-pills li:nth-child(22):before {display:block;content:'';height:10px;margin:0 1px 0 0;background:#fff;border-top:solid 1px #ddd}

.uni-color + div{display:inline-block; margin:0 0 0 10px}

.scroll_button {position:fixed;z-index:9999;top:0px;right:10px;padding:10px;height:0px}
.scroll_button .btn i + span {margin:0 0 0 5px}
.scroll_button .btn, .scroll_button .btn:hover, .scroll_button .btn:active, .scroll_button .btn:focus {outline:none !important}
.scroll_button .btn + .btn {margin:0 0 0 5px}

.btn-success i.fa-spinner {animation:spin 1s infinite linear}

@-keyframes spin {100% {transform:rotate(360deg)}}
@-webkit-keyframes spin {100% {transform:rotate(360deg)}}
@-moz-keyframes spin {100% {transform:rotate(360deg)}}

#module .infolink > a {display:inline-block !important;margin:2px 0 5px;text-decoration:underline dotted;cursor:pointer;font-size:.95em;font-weight:600;color:#e66761}
#module .infolink {position:relative;margin:5px 0 10px}
#module .infolink ul {overflow-y:auto;max-height:250px}
#module .infolink ul a {cursor:pointer}

.main-category-icon {}
.main-category-icon a {margin:0 0 10px}
.main-category-icon img{width:26px;height:26px;background:#fff}
.main-category-icon span {width:35px;height:35px;margin:0 !important;padding:0 !important;border:solid 1px #ccc;border-radius:3px;cursor:pointer}
.main-category-icon span i {font-size:18px !important;padding:8px 0 0}

.btn.add-sub{display:inline-block;margin:0 0 10px!important;text-decoration:none !important;height:22px !important;line-height:20px !important;font-size:.85em}
.btn.add-sub.btn-info{margin:5px 0 10px 29px !important}
.sort{margin:5px 0 10px;padding:0 0 10px;border-bottom:solid 1px #ddd}
.sort input{width:40px !important;display:inline;margin:0 20px 0 5px;text-align:center}
.show-in-cat {margin:0 0 12px !important}

.img-thumbnail {display:flex !important;width:110px;height:110px;align-items:center;justify-content:center}
.img-thumbnail img {max-width:100px;max-height:100px}

.menu-icon-banner {display:flex}
.menu-icon-banner > div:first-child{flex:0 0 auto;padding:0 20px 0 0}
.menu-icon-banner > div:first-child a.img {display:block;width:110px;margin:0 auto}
.menu-icon-banner > div:last-child{flex-grow:1}
.menu-icon-banner > div:last-child a {display:inline-block !important;}
.menu-icon-banner input.form-control {display:inline;margin:0 0 0 20px}
.menu-icon {margin:0 0 15px}
.menu-icon__i{display:block;width:110px;height:110px;margin:0 auto;padding:0 10px;text-align:center;line-height:110px;background:#fff;border:solid 1px #ddd;border-radius:2px;font-size:3em;cursor:pointer}
.menu-icon img{display:block;margin:0 auto}
.menu-icon__title {margin:5px 0 15px;font-weight:600}

.home-banners {display:flex}
.home-banners > div:first-child{flex:0 0 auto}
.home-banners > div:first-child a.img{display:block;width:110px;margin:0 auto}
.home-banners > div:last-child{flex-grow:1}
.home-banners input.form-control {display:inline;margin:0 0 0 20px}
.home-banners .menu-icon {margin:0}
.home-banners .menu-icon__title {margin:0;font-weight:600}
.home-banners > div:last-child .menu-icon__title {margin-bottom:45px}
.home-banners > div:last-child .form-control {display:block;margin:0 0 7px !important}

.header-contacts {display:flex}
.header-contacts  > div:first-child{flex:0 0 auto}
.header-contacts  > div:first-child a.img{display:block;width:110px;margin:0 auto}
.header-contacts  > div:last-child{flex-grow:1}
.header-contacts  input.form-control {display:inline;margin:0 0 0 20px}
.header-contacts  .menu-icon {margin:0}
.header-contacts  .menu-icon__title {margin:0;font-weight:600}
.header-contacts  > div:last-child .menu-icon__title {margin-bottom:45px}
.header-contacts  > div:last-child .form-control {display:block;margin:0 0 7px !important}

.header-contacts-addit {display:flex}
.header-contacts-addit > div:first-child{flex:0 0 auto}
.header-contacts-addit > div:first-child a.img{display:block;width:110px;margin:0 auto}
.header-contacts-addit > div:last-child{flex-grow:1}
.header-contacts-addit input.form-control {display:inline;margin:0 0 0 20px}
.header-contacts-addit .menu-icon {margin:0}
.header-contacts-addit .menu-icon__title {margin:0;font-weight:600}
.header-contacts-addit > div:last-child .menu-icon__title {margin-bottom:45px}
.header-contacts-addit > div:last-child .form-control {display:block;margin:0 0 7px !important}

.headerlinks2-wrap > input {display:inline;width:45px !important;margin:0 20px 15px 10px !important;text-align:center}
.headerlinks2 {display:flex}
.headerlinks2 > div:first-child{flex:0 0 auto}
.headerlinks2 > div:last-child {margin:45px 0 0}
.headerlinks2 a.img{margin:0 auto}

.product-banners {display:flex}
.product-banners  > div:first-child{flex:0 0 auto}
.product-banners  > div:first-child a.img{margin:0 auto}
.product-banners  > div:last-child{flex-grow:1}
.product-banners  input.form-control {display:inline;margin:0 0 0 20px}
.product-banners  .menu-icon {margin:0}
.product-banners  .menu-icon__title {margin:0;font-weight:600}
.product-banners  > div:last-child .menu-icon__title {margin-bottom:45px}
.product-banners  > div:last-child .form-control {display:block;margin:0 0 7px !important}

.overflow {display:flex;flex-direction:column;height:180px;overflow:auto;padding:15px;border:solid 1px #ddd;border-radius:4px;background:#f2f2f2;box-shadow:inset 0 0 10px #ddd}
.overflow b {display:inline !important;font-weight:400 !important}
.overflow label {display:flex;align-items:center;margin:0 0 10px !important;font-weight:400;cursor:pointer}
.overflow span {width:10px;margin:0 0 10px}
.overflow .fa-minus-circle{margin:0 5px 0 0;cursor:pointer}

.submenu .form-control{width:186px !important;max-width:40%;margin:0 0 5px}
.submenu .form-control:nth-child(2) {border-radius:4px 0 0 4px !important}
.submenu i.fa-level-up-alt{float:left;transform:rotate(90deg);margin:0 15px 0 5px;line-height:30px}

.submenu2 {margin:10px 0}
.submenu2 .form-control{width:172.5px !important;max-width:40%;}
.submenu2 i.fa-level-up-alt{margin:0 15px 0 32px}
.trial span{padding:4px 10px 5px;color:#f00;background:rgba(0 0 0 /.05);border-radius:10px;cursor:pointer}
.trial a {padding:0 0 0 15px;font-weight:600;color:#6ab344;text-decoration:underline dotted}
.full span{padding:4px 10px 5px;color:#6ab344;background:rgba(0 0 0 /.05);border-radius:10px}

small {font-size:.8em}

.show-column-left{display:none}

.landinglinks {margin:0 0 10px}
.landinglinks .input-group {width:100%}
.landinglinks select{width:100% !important;max-width:1000px;margin:0 0 20px !important}
.landinglinks input{width:40% !important;max-width:400px}
.landinglinks input + input{width:60% !important;max-width:600px}
.landinglinks__item-sort {display:flex;align-items:center;margin:15px 0}
.landinglinks__item-sort input {width:45px !important;margin:0 20px 0 10px;text-align:center}
.landinglinks__item-sort .btn {margin:0 !important}
.landinglinks__btns .btn {margin:10px 15px 0 0}

.checkout-pickup-item .form-control{width:100% !important}
.checkout-pickup-item small {}

.uni-color.excluded{cursor:default !important}

.license-text-ul {list-style:none;margin:15px 0;padding:0}

@media (max-width:767px){
	.uni_set {flex-wrap:wrap}
    #module .col-sm-2, #module .col-sm-10 {display:block;margin:0 0 5px}
    #module .col-sm-10 {/* margin:0 0 15px; */}
}

@media (max-width:600px){
    #module .col-sm-2 {width:100%;margin-bottom:20px}
    .row-flex{flex-wrap:wrap}
}

@media (min-width:767px){
	#unishop .nav-pills {max-width:300px;text-align:right}
}