.manufacturer-module {display:flex;align-items:center;margin-bottom:15px;z-index:10}
.manufacturer-module__heading {position:relative;float:left;width:auto;height:24px;padding:0 5px 0 10px;border-radius:3px 0 0 3px;line-height:22px;font-weight:500;font-size:.95em;margin:0 18px 0 0;color:var(--menu-main-header-c);background:var(--menu-main-header-bg)}
.manufacturer-module__heading:after {content:'';position:absolute;top:4px;left:auto;right:-8px;width:16px;height:17px;margin:0;background:var(--menu-main-header-bg);border:none;transform:rotate(45deg);-ms-transform:rotate(45deg);z-index:-1}
.manufacturer-module__ul {display:flex;flex-wrap:wrap;list-style:none;margin:0;padding:0}
.manufacturer-module__item {position:relative;margin:0 6px 10px 0}
.manufacturer-module__item-name {height:25px;line-height:23px;padding:0 8px;text-decoration:none;border:solid 1px rgba(0 0 0 / .1);border-radius:3px;display:block;text-align:center;background:#fff}
.manufacturer-module__item:hover >a{background:#f7f7f7}
.manufacturer-module__childrens {display:none;list-style:none;padding:15px;min-width:100px;background:#fff;position:absolute;z-index:9;top:100%;border-radius:0 3px 3px 3px;box-shadow:0 6px 12px rgba(0 0 0 / .175)}
.manufacturer-module__item:hover ul {display:block}
.manufacturer-module__children {white-space:nowrap;margin:0 0 10px;font-weight:500;font-size:.95em}
.manufacturer-module__children:last-child{margin:0}

@media (max-width:993px){
    .manufacturer-module__childrens {display:none !important}
}